header {
  position: relative;
  top: 120px;
  height: 400px;
  width: 100%;
  background: whitesmoke;
}

.avatar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  background: linear-gradient(#4056A1, salmon);
  box-shadow: 0 0 5px black;
}

.avatar-img {
  padding-top: 25px;
  opacity: 0.8;
}

.avatar-username {
  text-align: center;
  color: white;
  line-height: 0;
}