@media only screen and (min-width: 1025px) {
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
  }

  .main-header {
    grid-column: 1;
    width: min-content;
    position: fixed;
    left: 19%;
  }

  section.new-tweet {
    grid-column: 3;
    height: max-content;
    margin-top: 30px;
    align-self: start;
  }

  section.tweets-container {
    grid-column: 3;
    align-self: end;
  }
}

@media only screen and (max-width: 900px) {
  /* Make error message appear at the top of screen once view width becomes too small */
  .error-msg.reveal,
  .error-msg.reveal.shake {
    background-color: rgba(30, 63, 207, 0.867);
    transition: all 0.3s;
    padding: 5px;
    width: 100%;
    height: min-content;
    padding: 30px;
    text-align: center;
    animation: none !important;
    position: fixed !important;
    top: 120px;
    z-index: 1;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 530px) {
 .new-tweet-span {
   display: none;
 }
}

/* To accomodate for iPhone 5s screen size */
@media only screen and (max-width: 360px) {
  /* nav section */
  .nav-logo {
    position: absolute;
    left: 15px;
  }

  nav.nav-container {
    width: 100%;
    height: 30px;
    justify-content: flex-end;
    align-items: center;
  }

  /* tweet section */
  .tweets-container {
    width: 100%;
    padding: 0;
  }

  .post-container > * {
    width: 100%;
  }

  header.post {
    padding: 0;
  }

  header.post .avatar-container {
    background: none;
  }

  /* submission form section */
  label.form-label {
    left: 0;
  }
}